{{#> list}}
{{#each tracks}}
{{#> list-item index=@index show_track_cover=../show_track_cover now_playing_id=../now_playing_id show_artist=../show_artist}}
<button hx-swap="none"
        hx-put={{list-callback "/api/skip-to/@index" index}}
        class="flex justify-between items-center w-full text-left cursor-pointer disabled:text-gray-500 disabled:cursor-default {{#if dim-played}} disabled:text-gray-500 {{/if}}"
				{{#if not available}} disabled {{/if}}
>
	<div class="flex overflow-hidden gap-4 items-center w-full">
		<div class="flex justify-center items-center {{#if show_track_cover}} size-12 aspect-square {{/if}}">
			{{#if (eq id now_playing_id)}}
      <div class="text-blue-500 size-5">
				{{> play-icon}}
      </div>
			{{else}}
				{{#if show_track_cover}}
	        <div
	            class="bg-gray-800 bg-center bg-no-repeat bg-cover rounded-md aspect-square size-12"
	            style="background-image: url({{image}});"
	        ></div>
				{{else}}
          <span class="w-5 text-center text-gray-400">
            {{number}}
          </span>
				{{/if}}
			{{/if}}
		</div>
		{{#if (and show_artist artist_name)}}
    <div class="flex overflow-hidden flex-col">
        <h2 class="truncate">{{title}}</h2>
        <h3 class="text-sm text-gray-400 truncate">
            {{artist_name}}
        </h3>
    </div>
		{{else}}
    <h2 class="w-full truncate">{{title}}</h2> 
		{{/if}}
	</div>
	{{> info}}
</button>
{{/list-item}}
{{/each}}
{{/list}}
